.DocSearch-Button {
  @apply type-ui space-x-2;
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  border-radius: 1.2rem;
  border-width: 0.1rem;
  border-color: var(--brite);
  /* background-color: var(--brite); */
  color: var(--brite);
  align-items: center;
  cursor: pointer;
  display: flex;
}

.DocSearch-Button .DocSearch-Button-Keys {
  @apply hidden lg:inline;
}

.DocSearch-Button:hover,
.DocSearch-Button:active,
.DocSearch-Button:focus {
  border-color: var(--lite);
  color: var(--lite);
}

.DocSearch-Button .DocSearch-Search-Icon {
  display: none;
}
