.DocSearch-Button {
  @apply flex-1 type-ui space-x-2 border-gray text-gray;
  height: 100%;
  padding: 0.5rem;
  border-radius: 1.2rem;
  border-width: 0.1rem;
  align-items: center;
  cursor: pointer;
  display: flex;
}

.DocSearch-Button .DocSearch-Button-Keys {
  @apply hidden lg:flex items-center;
}

.DocSearch-Button:hover,
.DocSearch-Button:active,
.DocSearch-Button:focus {
  @apply border-tint text-tint;
}

.DocSearch-Button .DocSearch-Search-Icon {
  display: none;
}
