@import "@urbit/fdn-design-system/styles/globals";
@import "@urbit/fdn-design-system/styles/fonts";
@import "@urbit/fdn-design-system/styles/markdown";
@import "@urbit/fdn-design-system/styles/prism";
@import "./docsearch-variable";
@import "./docsearch-button";
@import "./docsearch-modal";

:root {
  @apply blu-light prism-light;
}

@media (prefers-color-scheme: dark) {
  :root {
    @apply blu prism-dark;
  }
}

:root[theme='light'] {
  @apply blu-light prism-light;
}

:root[theme='dark'] {
  @apply blu prism-dark;
}

.markdown h1,
.markdown h2,
.markdown h3 {
  @apply scroll-mt-28 md:scroll-mt-36 xl:scroll-mt-20;
}

.h-content {
  height: calc(100vh - 3rem - 3rem);
  @screen md {
    height: calc(100vh - 4rem - 4rem);
  }
  @screen lg {
    height: calc(100vh - 4rem);
  }
}

.sidebar {
  @apply sidebar-with-margin h-content type-ui;
}
