@import "@urbit/fdn-design-system/styles/globals";
@import "@urbit/fdn-design-system/styles/fonts";
@import "@urbit/fdn-design-system/styles/markdown";
@import "@urbit/fdn-design-system/styles/prism";
@import "./docsearch-variable";
@import "./docsearch-button";
@import "./docsearch-modal";

:root {
  /* Apply color scheme BLU */
  @apply blu;
}

.markdown h1,
.markdown h2,
.markdown h3 {
  @apply scroll-mt-16 md:scroll-mt-20;
}
